<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>519494625445-fbem9stibujd7mchidnt9n9h85ld8p8s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519494625445-fbem9stibujd7mchidnt9n9h85ld8p8s</string>
	<key>API_KEY</key>
	<string>AIzaSyALKtE7Nv0U-NqqD_YBL8phSIkSfdZKACo</string>
	<key>GCM_SENDER_ID</key>
	<string>519494625445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ducdo.Todo</string>
	<key>PROJECT_ID</key>
	<string>swiftuitodo-753ce</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuitodo-753ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519494625445:ios:b0b73194f2869d6f99854c</string>
</dict>
</plist>